/*992px до 1279px; */

@media screen and (min-width:1280px) {






    .main-content-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 70px;
        margin-top: 18px;
    }

    .main-context-text1 p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        width: 662px;
    }


    .main-content-title {

        margin-bottom: 0;
        width: 365px;

    }

    .main-content-title h1 {

        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        margin-left: 70px;

    }

    .main-content-image img {

        width: 232px;
        height: 203px;
    }

    .main-content-sideimage .aboutusimage {
        width: 314px;
        height: 315px;
        margin-right: 190px;
        margin-bottom: 0;
    }


    .main-content-info {
        display: flex;
        flex-direction: row;
        width: 1280px;
        align-items: center;
    }

    .main-content-info-title h2 {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
    }




    .main-content-image {


        width: 232px;
        height: 203px;
        margin-left: 121px;
    }


    .info-lessons {

        margin-left: 92px;
    }


    .info-lessons h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        width: 150px;
    }

    .info-lessons p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        width: 150px;
    }



    .main-content-info-title {
        margin-left: 71px;
        margin-top: 150px;
    }

    .main-content-descriptions {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 32px;
        width: 950px;
        margin-left: 0px;


    }


    .main-content-description {
        margin-left: 51px;
    }

    .main-content-description1 {
        margin-left: 122px;

    }

    .main-content-description2 {
        margin-left: 113px;
    }

    .main-content-description h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
    }

    .main-content-description1 h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        width: 214px;
        margin-top: 22px;

    }

    .main-content-description2 h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;

    }




    .main-content-description p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        width: 223px;
        height: 39px;


    }

    .main-content-description1 p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        width: 271px;
        height: 109px;


    }

    .main-content-description2 p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        width: 245px;
        height: 39px;


    }
















    .main-content-info-about h2 {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        margin-left: 69px;
    }

    .main-content-info-list {
        width: 383.41px;
        height: 216.61px;
    }

    .main-content-info-list ul {
        margin-left: 85px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        width: 662px;
        height: 374px;
    }


    .main-content-about-course h2 {

        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        margin-top: 205px;
        margin-left: 108px;


    }

    .main-content-about-course-info-blocks {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 75px;
        margin-right: 49px;
        margin-top: 55px;
        width: 1280px;





    }


    .main-content-about-course-info {
        margin: 12px;
        height: 160px;
        width: 399px;
        height: 360px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;

    }

    .main-content-about-course-info img {

        width: 399px;
    }

    .main-content-about-course-info h3 {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        padding-left: 20px;
    }

    .main-content-about-course-info p {

        width: 290px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
    }















    .main-content-feedback-block {

        width: 100%;
        margin-top: 121px;
        height: 780px;
    }


    .main-content-feedback-block h2 {

        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        width: 987px;
        height: 93px;
        margin-left: 121px;
    }

    .main-content-feedback-block-text {

        width: 791px;

        margin-left: 121px;


    }

    .main-content-feedback-block-text p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        width: 700px;
        height: 203px;
    }



    .main-content-feedback-user-block .user {

        width: 190px;
        height: 169px;
    }

    .main-content-feedback-user h3 {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        margin-left: 30px;

    }


    .main-content-feedback-user .logo {
        width: 32px;
        height: 31px;
        margin-left: 30px;
    }








    .pre-footer-block {

        background: #9DC9C8;
        height: 780px;


    }


    .green-block {
        margin-bottom: 2px;
    }

    .block-title {
        margin-bottom: 10px;
    }

    .block-title h1 {

        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        width: 908px;
        margin-left: 122px;
        margin-bottom: 40px;
        margin-top: 0px;
        padding-top: 179px;

    }

    .cost-text1 {
        margin-bottom: 10px;
    }

    .cost-text {
        margin-left: 122px;
    }

    .cost-text p {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        width: 481px;
        margin-top: 0;
    }

    .cost-text1 span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        width: 170px;
        margin-left: 121px;
    }


    .costs {
        margin-bottom: 100px;
    }

    .text1 span {


        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        width: 294px;
        height: 32px;
    }

    .text2 span {


        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        width: 322px;
        height: 32px;
    }



    .text1,
    .text2 p {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        width: 294px;

    }


    .text1 p {

        margin-top: 15px;
    }

    .text2 p {
        margin-top: 15px;
    }

    .text1 {
        margin-left: 122px;
    }

    .text2 {

        margin-left: 150px;
    }


    .two-text-blocks {

        display: flex;
        flex-direction: row;
    }

































    .footer-1 {


        width: 100%;
        height: 390px;



    }

    .left-logo-block {
        display: flex;
        background-color: #000000;
        width: 100%;
    }

    .icon-style {
        width: 115px;
        height: 68px;
        margin-top: 50px;
        margin-left: 122px;
        padding: 0;

    }


    .footer-icons-left {
        margin-left: 122px;
    }

    div.menu {
        color: rgb(255, 255, 255);

        margin-top: 146px;
        padding: 0;

    }

    .footer-icons-right {
        /* display: flex; */

        color: white;
        margin-top: 45px;
        margin-right: 60px;


    }

    .icon-style-phone {




        /* justify-content: flex-end;
        align-items: flex-end; */
    }

    .icon-style-mail {

        background: #000000;


        margin-right: 120px;

    }

    .icon-phone-white {

        margin-top: 36px;
        margin-right: 316px;
        width: 99%;


    }

    .icon-mail-white {
        margin-top: 36px;
        margin-right: 316px;
        width: 99%;




    }


    .icon-phone-white img {
        width: 27px;

    }

    .icon-phone-white .icon-style-phone {}


    .icon-phone-white p {

        margin-left: 39px;
        margin-top: -26px;
    }

    .icon-mail-white p {

        margin-left: 39px;
        margin-top: -26px;
    }

    a {
        color: rgb(255, 255, 255);
    }





}