.footer-1 {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    
    background-color: #000000;
    
  
  }
  .footer-container__block{
    display: flex;
  }

  .icon-style {   
    width: 115px;
    height: 68px;
    margin-top: 50px;
    margin-left: 122px;
    padding: 0;
       
  }


  .footer-icons-left {
    margin-left: 122px;
  }
  
  div.menu{
    color: rgb(255, 255, 255);
    margin-left:0px;
    margin-top: 146px;
    padding: 0;
    
  }
  .footer-icons-right{
    /* display: flex; */
    position: relative;
    color: white;
        

  } 
  .icon-style-phone{
    position: absolute;
    background: #000000;
    margin-left: -40px;
    margin-top: -5px;
    /* justify-content: flex-end;
    align-items: flex-end; */
  }
  .icon-style-mail{
    
    background: #000000;
    margin-left: -40px;
    margin-top: 0px;
    
  }
  .pre-footer-block{
    
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
   
    background-color: #9DC9C8;
    
   
  }
  .green-block{
    margin-left: 122px;
    position: relative;
  }
  .first-text-block{
    font-family: 'Roboto Slab', sans-serif;
    font-size: 25px;
    padding-top: 5px;
    

  }
  .second-text-block{
    
    font-size: 25px;
    margin-left: 486px;
    top: 135px;
    font-family: 'Roboto Slab', sans-serif;
    padding-top: 160px;
  }
  .text1{
    
    font-family: 'Roboto Slab';
    font-size: 18px;
    padding-top: 5px;

  }
  .text2{
    
    margin-left: 486px;
    top: 155px;
    font-family: 'Roboto Slab';
    font-size: 18px;
    padding-top: 175px;
    
    
  }
  
  h1{
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    
  }
.cost-text2{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: lighter;
  line-height: 0px;
  font-size: 80px;
  padding: 0;
  margin: 0;
    
}
.cost-text{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  
}
.icon-phone-white{
  margin-left: 1200px;
  margin-top: 635px;
  
}
.icon-mail-white{
  margin-left: 1200px;
  margin-top: 26px;
  

}
a{
  color: rgb(255, 255, 255);
}

  
