/*992px до 1279px; */

@media screen and (min-width:992px) and (max-width:1279px) {



    * {
        font-family: 'Roboto', 'Roboto slab', sans-serif;


    }






    .nav-title img {
        margin-left: 121px;
    }

    .nav-menu li {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        width: 130px;
        padding-right: 30px;


    }




    .nav-menu ul {
        list-style-type: none;
        margin-top: 56px;
        display: block;
        margin-left: 121px;

    }

    .nav-menu li {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }

    .nav-menu__list img {
        width: 12.74px;
    }

    .nav-message h1 {

        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        width: 363.72px;
        padding-left: 50px;
    }


    .nav-message p {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        width: 264px;
        padding-left: 50px;
        margin-top: -14px;
    }


    .header-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 115px;

    }


    .quote-block-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quote-block {


        width: 280.11px;
        height: 115.83px;
        margin-top: 67px;
        background: #1E4681;
        border-radius: 5px;
        margin-bottom: 180px;


    }

    .quote-block p {


        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: white;
        width: 249.38px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
    }

    .quote-block .author {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
        padding-left: 42px;
        margin-top: -26px;


    }



    .sideimage-block img {
        width: 176.07px;
        height: 206.18px;
        margin-top: 40px;
        padding-right: 142px;
    }



    .header-blocks {
        display: flex;
        justify-content: start;
    }



    /*header*/















    .main-content-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 121px;
    }

    .main-context-text1 {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .main-content-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding-left: 70px;
    }

    .main-content-title {
        margin-left: 121px;
        margin-bottom: 0;
    }

    .main-content-title h2 {

        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;

        height: 216.61px;
        margin-left: 40px;

    }



    .main-content-paragraph {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        margin: 36px;


    }



    .main-content-sideimage .aboutusimage {
        width: 182px;
        height: 182px;
        padding-left: 110px;
        margin-bottom: 0;
    }


    .main-content-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 125px;
    }

    .main-content-info-title {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
    }


    .main-content-image {

        margin-left: 100px;
    }

    .main-content-image img {
        width: 134.37px;
        height: 117.57px;
    }


    .content-info-lessons {

        display: flex;

        align-items: center;

    }

    .info-lessons-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }

    .info-lessons {

        margin-left: 50px;
    }


    .info-lessons h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
    }

    .info-lessons p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        width: 108px;
    }



    .main-content-info-title {
        margin-left: 130px;
    }

    .main-content-descriptions {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 52px;
        margin-top: 51px;


    }


    .main-content-description h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;

    }

    .main-content-description p {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;


    }



    .main-content-description1 h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;

    }

    .main-content-description1 p {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;


    }

    .main-content-description2 h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        margin-top: 12px;

    }

    .main-content-description2 p {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;


    }






    .main-content-info-about h2 {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        margin-left: 134px;
    }

    .main-content-info-list {
        width: 383.41px;
        height: 216.61px;
        margin-left: 130px;
    }

    .main-content-info-list ul {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }


    .main-content-about-course {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        margin-left: 140px;
    }

    .main-content-about-course-info-blocks {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 130px;
        margin-top: 55px;
        width: 839px;

    }


    .main-content-about-course-info {
        margin: 12px;

    }

    .main-content-feedback-block {
        margin-top: 52px;
    }


    .main-content-feedback-block h2 {
        margin-left: 130px;
        width: 571.64px;
    }

    .main-content-feedback-block-text {

        width: 458.12px;
        margin-left: 130px;
        margin-bottom: 64px;


    }

    .main-content-feedback-block-text p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        width: 405.42px;
    }


    .main-content-feedback-user .logo {
        margin-left: 14px;
        margin-bottom: 25px;
        width: 18.53px;
        height: 17.95px;
    }

    .main-content-feedback-user-block .user {

        width: 110.04px;
        height: 97.88px;
    }

    /* body */





    .pre-footer-block {
        background: #9DC9C8;
    }


    .green-block {
        margin-bottom: 2px;
    }

    .block-title {
        margin-bottom: 10px;
    }

    .block-title h1 {
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        margin-left: 122px;
        margin-bottom: 32px;
        margin-top: 0px;
        padding-top: 104px;

        width: unset;
        height: unset;
    }

    .cost-text1 {
        margin-bottom: 10px;
    }

    .cost-text {
        margin-left: 130px;
    }

    .cost-text span {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        width: 279px;
        margin-top: 0;
        margin-left: 0;
    }

    .cost-text1 span {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        width: 98.46px;
        margin-left: 130px;
    }


    .costs {
        margin-bottom: 40px;
    }

    .text1 span {


        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        width: 170.28px;
        height: 18.53px;
    }

    .text2 span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        width: 186.49px;
        height: 18.53px;
    }



    .text1,
    .text2 p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        width: 178px;
        padding-bottom: 70px;
    }


    .text1 p {

        margin-top: 15px;
    }

    .text2 p {
        margin-top: 15px;
    }

    .text1 {
        margin-left: 130px;
    }

    .text2 {
        margin-left: 150px;
    }


    .two-text-blocks {

        display: flex;
        flex-direction: row;
        margin-bottom: -2px;
    }




    /*footer */


    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-logo-block {
        padding-left: 70px;
    }

    .footer-title {
        padding-left: 108px;
    }
    .footer-logo {
        padding-top: 30px;
    }
    .footer-logo img {
        width: 66.6px;
        height: 39.38px;
    }


    .footer-soc img {
        width: 19.11px;
    }


    .footer-contact-title {
        padding-right: 115px;
       
    }

    .contact p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        width: 155.8px;
    }

    .phone {
        padding-top:16px;
    }

    .mail {
        padding-top: 9px;
    }
    .phone img {
        width: 15.64px;
    }

    .mail img {
        width: 15.64px;
    }





















    @media screen and (max-width:991px) {

        .main-content-image {
            display: none;
        }
    }